body {
    background: linear-gradient(to right, black, rgb(218, 173, 118), rgb(218, 173, 118), rgb(218, 173, 118));
    margin: 10px;
}

.welcom {
    text-align: center;
    border: solid orange 3px;
    border-radius: 10px;
    background-color: orange;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.6);
}

main {
    text-align: center;
}

.sujet {
    color: black;
}

a {
    color: black;
    text-decoration: none;
    transition: 0.5s;
}

a:hover {
    color: orange;
}

section {
    border: solid orange 3px;
    border-radius: 20px;
    margin: 30px;
}

.fin {
    border: solid orange 3px;
    border-radius: 10px;
    background-color: orange;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.6);
    padding: 10px;
}

button {
    border: orange solid 2px;
    background-color: black;
    padding: 20px;
    border-radius: 20px;
    cursor: pointer;
    transform: scale(1s);
}

button:hover {
    border: orange solid 2px;
    background-color: beige;
    border-radius: 20px;
    cursor: pointer;
}

.fin a {
    color: orange;
}